@model IEnumerable<OnlineShop.ViewModels.CategoryViewModel>
<style>

    @@media screen and (max-width:931px) {
        .nav-list-items {
            margin-left: auto !important;
        }
    }

    @@media screen and (max-width:772px) {
        #bars {
            display: inline-block !important;
        }

        .nav-list-items {
            display: none;
        }
    }

    @@media screen and (max-width:478px) {
        #search-form {
            margin-right: 0 !important;
        }
    }

    @@media screen and (max-width:457px) {
        #search-form {
            min-width: 270px !important;
        }
    }

    @@media screen and (max-width:436px) {
        .navbar-brand {
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*@@media screen and (max-width:658px) {
        .navbar-brand {
            margin-left: auto;
            margin-right: auto;
            min-width:100px
        }
    }*/

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background: #821130;
        display: flex;
        flex-direction: row;
    }

        ul li {
            display: block;
            position: relative;
            float: left;
            background: #821130;
        }

    li ul {
        display: none;
    }

    ul li a {
        display: block;
        padding: 1em;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
        z-index: 100;
        position: relative;
    }



    li:hover > ul {
        display: block;
        position: absolute;
    }

    li:hover li {
        float: none;
    }

    li:hover a {
        background: #821130;
    }

    li:hover li a:hover {
        background: #5b0b21;
    }

    .main-navigation li ul li {
        border-top: 0;
    }

    ul ul ul {
        right: 100%;
        top: 0;
    }

    ul:before,
    ul:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    ul:after {
        clear: both;
    }

    .cart-count {
        color: white;
        border-radius: 100%;
        border: solid;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 30px;
        background-color: darkgrey;
        border-color: #821130;
        display: inline-block !important;
        padding: 1px;
        text-align: center;
        top: 35px;
        font-family: IRANSansFaNum;
        font-size: 13px;
    }

    .fixedheader {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    #cart-icon:hover {
        color: white;
    }

    .navbar-a {
        color: white !important;
    }

        .navbar-a:hover {
            color: lightgrey !important;
            text-decoration: none
        }

    ul {
        margin-top: 0;
        margin-bottom: 0 !important;
    }

    nav-li-a {
        padding-right: 0 !important;
    }

    #search-form {
        min-width: 300px;
        margin-right: 20px
    }

    .search-element {
        display: inline-block;
        padding: 5px 10px;
        border: 3px;
        border-radius: 5px;
    }

    #bars {
        font-size: 25px;
        display: none;
    }

    #btn-search {
        margin-right: 15px;
        background-color: white;
    }
</style>

<div style="direction:rtl" class="fixedheader">
    <nav class="navbar" style="background-color:#821130!important;">

        <a href="#" id="bars">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand" href="/home/index" style="font-family:IRANSans;text-align:right">
            اسم سایت
            <br />
            <span style="font-size:10px">فروشگاه آنلاین پوشاک</span>
        </a>


        <div style="font-family:IRANSans" class="nav-list-items">

            <ul style="margin-right:20px">
                <li>
                    <a href="#" class="navbar-a">دسته‌بندی‌ها</a>
                    <ul style="text-align:right;">
                        @foreach (var item in @Json.Decode(ViewBag.Cats))
                        {
                            <li style="width:100px">
                                <a href="#" class="navbar-a nav-li-a">@item.Title<span style="width:10px;float:left">⯇</span></a>
                                <ul>
                                    @foreach (var items in Model)
                                    {
                                        if (items.CatId == item.Id)
                                        {
                                            <li><a class="navbar-a" href="/SubCategory/items/@items.SubCatId">@items.SubCatTitle</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>

                <li><a href="/home/about" class="navbar-a">درباره ما</a></li>
                <li><a href="/home/contact" class="navbar-a">تماس با ما</a></li>
            </ul>



        </div>
        <form id="search-form">
            <input id="q-search" class="search-element" type="search" placeholder="مثلا کفش" aria-label="Search">
            <button id="btn-search" class="search-element">جستجو</button>
        </form>
        <div id="login" style="margin-right:auto;min-width:180px;color:#fff!important">
            @if (!String.IsNullOrWhiteSpace(User.Identity.Name))
            {
                <a class="navbar-a" href="/account/userprofile">@User.Identity.Name</a>
                <span>|</span>
                <a class="navbar-a" href="/account/SignOut"> خروج</a>
            }
            else
            {
                <a class="navbar-a" href="/account/login">ورود</a>
                <span>|</span>
                <a class="navbar-a" href="/account/signup">ثبت نام</a>
            }
            <a href="/cart" id="cart-icon" class="navbar-a">
                <i class="fa fa-shopping-cart" style="font-size:x-large;margin:0 10px 0 0"></i><span id="cart-count" style="display:none"></span>
            </a>
        </div>

    </nav>
</div>
