@{
    ViewBag.Title = "Home Page";
    Layout="/views/shared/SharedLayout.cshtml";


}
<script src="~/scripts/jquery-3.4.1.min.js"></script>


<div class="row">

</div>

<script>
    var cats = @Html.Raw(ViewBag.Categories);
</script>
<script type="text/javascript" src="~/scripts/home/index.js"></script>