@{
    ViewBag.Title = "Login";
}
<head>

    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        input[type=text],
        input[type=password] {
            width: 100%;
            flex-grow: 1;
            border-radius: 5px;
            font-family: IRANSans;
            direction: rtl;
            border: 1px solid #f7f7f7;
            box-shadow: 2px 2px 4px -2px grey;
        }


        .input-row {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 15px;
        }

        .icon {
            min-width: 50px;
            text-align: center;
            padding: 12px;
            margin: 4px 0px;
            color: rgba(221, 25, 79, 0.92);
        }


        #submit {
            padding: 5px;
            margin: 8px 0;
            cursor: pointer;
            border-radius: 5px;
            width: 90%;
            color: #fafafa;
            border-radius: 5px;
            font-family: IRANSans;
            background-color: rgba(221, 25, 79, 0.92);
            box-shadow: 3px 3px 8px -4px grey;
        }

        #submit-row {
            display: flex;
            justify-content: center;
        }

        button:hover {
            opacity: 0.8;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            color: rgba(221, 25, 79, 0.92);
        }


        .container {
            padding: 16px;
            display: flex;
            justify-content: space-between;
        }

        #outer-div {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #inner-div {
            width: 400px;
            margin: 0 auto;
            padding: 7px;
            margin-top: 30px;
            box-shadow: 3px 3px 30px -10px grey;
            border: 1px solid #f7f7f7;
            border-radius: 10px;
            font-family: IRANSans;
        }

        label {
            margin: 20px 8px 0 8px;
            font-weight: normal;
        }

        h3 {
            font-family: IRANSans;
            margin-bottom: 30px;
        }

        .error {
            direction: rtl;
            text-align: center;
            color: red;
            width: 100%;
        }
    </style>
</head>


<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div id="outer-div" width="100%">

            <div id="inner-div">
                <form id="signupForm">

                    <h3 style="margin-top:10px;font-weight:normal;font-size:large;">ورود</h3>
                    <hr />

                    @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
                    {
                        <div class="input-row">
                            <span class="error">@ViewBag.Error</span>
                        </div>
                    }
                    <div class="input-row">
                        <input id="ReturnUrl" name="ReturnUrl" dir="rtl" value=@Request.QueryString["ReturnUrl"] hidden>
                        <!-- <label class="col-sm-3">ايميل</label>-->
                        <input id="email" type="text" name="email" required dir="rtl" placeholder=" ايميل خود را وارد نماييد">
                        <i class="fa fa-envelope icon"></i>
                    </div>
                    <div class="input-row">
                        <!--<label class="col-sm-3">رمز عبور</label>-->
                        <input id="password" type="password" name="password" required dir="rtl" placeholder=" رمز عبور خود را وارد نماييد">
                        <i class="fa fa-key icon"></i>
                    </div>
                    <div class="input-row">
                        <span> مرا به خاطر بسپار</span>
                        <input style=" padding: 12px; margin: 8px; background-color:aqua" type="checkbox" checked="checked" name="remember">

                    </div>
                    <div class="input-row " id="submit-row">
                        <button id="submit">ورود</button>
                    </div>
                    <div class="container" style="background-color:#f1f1f1">
                        <a href="/account/Signup" class="cancelbtn">ثبت نام نکرده ام</a>
                        <a href="#" class="cancelbtn">فراموشي رمز عبور</a>
                    </div>
                </form>
            </div>
        </div>
    }

</body>

<script type="text/javascript" src="~/scripts/account/login.js"></script>