
@{
    Layout = "/views/shared/SharedLayout.cshtml";
}

    <div style="width:100%;text-align:center;margin-top:100px;">
        <img src="~/Images/register-success.png" style="width:150px;height:150px" />
        <span style="display:block;margin-top:20px;direction:rtl;font-family:IRANSans">ثبت نام با موفقیت انجام شد.</span>
        <span style="display:block;margin-top:15px;direction:rtl;font-family:IRANSans">پس از تایید ادمین می‌توانید وارد حساب کاربری خود شود.</span>
    </div>
