@model OnlineShop.ViewModels.UserProfileResponseViewModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "/views/shared/SharedLayout.cshtml";
}
<style>
    .profile-wrapper{
        text-align: right;
        padding: 20px;
        font-family: IRANSans;
        border: 3px solid #f1f1f1; direction: rtl;
        margin: auto;
        display: table;
        margin:20px auto;
    }
    .title{
        font-weight:600
    }
</style>

<div style="width:100%">
    <div class="col-md-3 col-sm-6 profile-wrapper">
        <h2>پروفایل کاربر</h2>
        <img src="~/Images/user.png" style="width: 150px; height: 150px; display: block; margin: auto;" />
        <div class="row" style="margin-top:20px">
            <label class="col-6 title">شماره موبایل:</label>
            <label class="col-6">@Model.Mobile</label>
        </div>
        <div class="row">
            <label class="col-6 title">نام کامل:</label>
            <label class="col-6">@Model.Fullname</label>
        </div>
        <div class="row">
            <label class="col-6 title">ایمیل:</label>
            <label class="col-6">@Model.Email</label>
        </div>
    </div>
</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
</p>
