
@{
    Layout = "/views/shared/SharedLayout.cshtml";
}


    <div style="width:100%;text-align:center;margin-top:100px;">
        <img src="~/Images/prohibited.png" style="width:150px;height:150px" />
        <span style="display:block;margin-top:20px;direction:rtl;font-family:IRANSans">شما به این صفحه دسترسی ندارید!</span>
    </div>
